#fundo{
    position: relative;
    width: 800px;
    height: 750px;
    background-color: aquamarine;
    margin: auto;
}


#camada1{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: chocolate;
    border: 5px solid blue;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

#camada2{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(23, 235, 12);
    border: 5px solid rgb(233, 45, 186);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    float: left;
}

#camada3{
    position: relative;
    width: 300px;
    height: 380px;
    background-color: rgb(56, 56, 83);
    border: 5px solid rgb(214, 8, 8);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    clear:left ;
}

#camada_absoluta{
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: rgb(95, 121, 76);
    top: 150px;
    left: 200px;
    z-index: 2;
}