 #camada1 {
            position: absolute;
            width: 150px;
            height: 100px;
            background-color: rgb(182, 15, 184);
            border: 5px solid blue;
            text-align: center;
            top: 200px;
            left: 100px;
            z-index: 1;       
        }

          #camada2 {
            position: absolute;
            width: 250px;
            height: 200px;
            background-color: rgb(11, 223, 149);
            border: 5px solid blue;
            text-align: center;
            top: 300px;
            left: 200px;
            z-index: 2;
        }

           #camada3 {
            position: absolute;
            top: 400px;
            left: 400px;
            z-index: 2;
        
          
        }