#cabecalho {
    width: 1080px;
    height: 70px;
    background-color: #CCFF00;
    font-size: 30px;
    color: #000000;
    text-align: center;
    top: 90px;
    left: 300px;

}

#esquerdo {
    position: relative;
    width: 349px;
    height: 410px;
    background-color: #AAFFFF;

    color: #000000;
    top: 1px;

}


#direito {
    position: absolute;
    width: 739px;
    height: 410px;
    background-color: #7C44FF;
    left: 350px;
    color: #000000;
    top: 77px;

}

#nav {
    position: absolute;
    width: 290px;
    height: 170px;
    background-color: #ecece0;
    left: 30px;
    color: #000000;
    top: 100px;

}

#aside {
    position: absolute;
    width: 290px;
    height: 170px;
    background-color: #ecece0;
    left: 30px;
    color: #000000;
    top: 290px;
}

#article {
    position: absolute;
    width: 720px;
    height: 387px;
    background-color: #FCF1F1;
    left: 359px;
    color: #000000;
    top: 100px;
}

#h1 {
    position: absolute;
    width: 720px;
    height: 30px;
    background-color: #CCFFFF;
    font-size: 20px;
    color: #000000;
   align-items: center;   
    top: 120px;
    left: 360px;
}

#p{
    position: absolute;
    width: 720px;
    height: 128px;
    background-color: #CC6666;
    left: 360px;
    color: #000000;
    top: 150px;
}

#div{
    position: absolute;
    width: 720px;
    height: 178px;
    background-color: #CCCCFF;
    left: 360px;
    color: #020202;
    top: 300px;
}

#rodape {
   
    width:1080px;
    height:70px;
    background-color: #312626;
    top: 80px;
    left: 400px;
    color: #fbfbfb;
    
 
}

